
html { 
    background: url(https://static.wixstatic.com/media/34d4f7_1798cbc767b543b7a2f737e4fe658988~mv2.jpg/v1/fill/w_637,h_398,al_c,q_80,usm_0.66_1.00_0.01/34d4f7_1798cbc767b543b7a2f737e4fe658988~mv2.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    color: rgb(203, 214, 214);
}

h1, h2 {
    text-align: center;
    font-family: 'EB Garamond', serif;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:slategray;
}

#navLinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    float: center;
}

li {
    margin-right: 50px;
    margin-left: 20px;
    list-style-type: none;
}

.fullpage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-footer {
    bottom: 10px;
    width: 100%;
    text-align: center;
}

