@import "~bootstrap/scss/bootstrap";

body {
  background: url('images/family.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bio, .tech {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.img {
  position: relative;
  width:  150px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  padding: 22px;
}

h1, h2 {
  text-align: center;
  padding-top: 50px;
  color: rgb(194, 25, 25);
  font-family: 'EB Garamond', serif;
}

h4 {
  color: antiquewhite;
  padding: 20px;
  text-align: center;
}

h5, h6, p {
  color: midnightblue;
  text-align: center;
}

.card-body {
  background-color: rgb(102, 82, 102);
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: +5;
}

li {
  display: flex;
  justify-content: space-evenly;
  margin-right: 100px;
  margin-left: 100px;
  list-style-type: none;
  cursor: pointer;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer, .page-footer {
  width: 100%;
}

.project-card{
  display: inline-block;
}

.card-img-top {
  height: 280px;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
  margin: 0 auto;
}
