@import "~bootstrap/scss/bootstrap";

body {
  background: url('images/family.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  position: relative;
  width:  150px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  padding: 22px;
}

h1, h2 {
  text-align: center;
  padding-top: 100px;
  color: antiquewhite;
  font-family: 'EB Garamond', serif;
}

h4 {
  color: salmon;
  padding: 20px;
  text-align: center;
}

h5, h6, p {
  color: midnightblue;
  text-align: center;
}

.card-body {
  background-color: gainsboro;
}

.navbar {
  display: flex;
}


li {
  margin-right: 50px;
  margin-left: 20px;
  list-style-type: none;
  cursor: pointer;
  flex-direction: row;
}


ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-footer {
  bottom: 10px;
  width: 100%;
}


.project-card{
  display: inline-block;
}

.card-img-top {
  height: 280px;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
  margin: 0 auto;
}

